

/*.dashboard-wrapper {
 background: url('../assets/image.png') no-repeat center center/cover;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex:1;
}  


.dashboard-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(105, 90, 90, 0.548);
  z-index: 0;
}
  


.dashboard-container {
  display: flex;
  position: relative;
  z-index: 1;
  align-items: stretch;
  height: 100%;
  min-height: 100vh;
  padding-top: 100px ;
  padding-bottom: 100px;
}
/*
.dashboard-container{
  
  
  margin: 0 auto;
  text-align: center;
  background-color: aliceblue;
  border-radius: 10px;

}*/

.ownerdashboard-wrapper {
 background: url('../assets/image.png') no-repeat center center / cover;
  backdrop-filter: blur(20px);
 background: rgba(0, 0, 255, 0.26);
  min-height: calc(100vh - 120px); /* Adjust based on header+footer height */
  display: flex;
  flex-direction: column;
 /* padding: 20px;
*/  position: relative;
  z-index: 0;
  
}

.app-layout .dashboard-wrapper {
  position: relative;
}

/* Semi-transparent overlay */
.ownerdashboard-overlay {
  position: absolute;
 /* inset: 0; /* shorthand for top, right, bottom, left = 0 */
 /* background-color: rgba(0, 0, 0, 0.4);*/
  z-index: 0;
  pointer-events: none; /* allows clicking through the overlay */
  min-height: 100vh;
}

.dashboard-container {
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;
  gap: 20px;
  padding-top: 100px;
}

/* Add some spacing and layout control */
.dashboard-content {
  flex: 1;
  padding: 1rem;
  /*
  background-color: rgba(255, 255, 255, 0); /* Optional: light background to improve readability */
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
